<%= link_to about_path do %>
  <button><i class="fas fa-user"></i></button>
<% end %>
<%= link_to articles_path do %>
  <button><i class="fas fa-folder"></i></button>
<% end %>
<%= link_to articles_path do %>
  <button><i class="fas fa-project-diagram"></i></button>
<% end %>
<h1>Home</h1>

